body {
  color: #807268;
  font-family: "Playwrite GB S", cursive;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  color: #807268;
  font-family: "Playwrite GB S", cursive;
  font-size: 35px;
}

h2 {
  color: #807268;
  font-family: "Playwrite GB S", cursive;
  font-size: 25px;
}

h3 {
  color: #807268;
  font-family: "Playwrite GB S", cursive;
  font-size: 15px;
}

a{
  color: #323a73;
  text-decoration: none;
}

a:hover{
  color: #1e2333;
  text-decoration: underline;
}

.container {
  background-color: #fef2e6;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 2px 2px 10px #f7b571;
  border-radius: 10px;
}

.card-orange{
  background-color: #fef2e6;
  width: 600px;
  margin: 10px auto;
  text-align: center;
  box-shadow: 2px 2px 10px #f7b571;
  border-radius: 10px;
}

.profile-image{
  width: 100px;
  border-radius: 50px;
}

.list-inline > li{
  display: inline-block;
}

.list-inline {
  padding: 0px;
}


@media screen and (max-width: 700px) {
  .container {
    width: 500px;
  }

  .card-orange {
    width: 500px;
  }
}
